body {
  background: #111;
  color: white;
  font-family: Arial;
  padding: 20px;
}

.container {
  position: relative;
  width: 640px;
}

video {
  width: 640px;
  border-radius: 10px;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}
