body {
  font-family: Arial;
  padding: 20px;
  background: #111;
  color: white;
}

.canvas-container {
  position: relative;
  display: inline-block;
}

#image {
  max-width: 640px;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
}
